.MuiPaper-root{
    top: 223px !important;
    left: 41% !important;
    width: 30% !important;
}
.MuiListItem-button:hover {
    text-decoration: none !important;
    background-color: white !important
}
.MuiMenuItem-root:hover{
    background-color: rgba(0,0,0,0.4) !important;  
}